@model login.Models.ChangePasswordModel

@{
    ViewBag.Title = "Canvi contrasenya";
}

<div class="formulari">
@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset style="width:99%;">
        <legend>Canvi de contrasenya</legend>
        <div class="fila">
            <div class="columna" style="width:300px;">            
                    <div class="cella" style="width:300px;">
                        @Html.Label("Contrasenya actual")                
                        @Html.PasswordFor(m => m.OldPassword)                
                    </div>
                    <div class="cella" style="width:300px;">
                        @Html.Label("Contrasenya nova")                
                        @Html.PasswordFor(m => m.NewPassword)                
                    </div>
                    <div class="cella" style="width:300px;">
                        @Html.Label("Confirmar contrasenya")                
                        @Html.PasswordFor(m => m.ConfirmPassword)                
                    </div>
            </div>
        </div>

        <div class="fila">
            <div class="columna">
                <div class="buto">    
                    <input type="submit" value="Modificar" />
                </div>
            </div>
        </div>
        
        @if (ViewBag.Result!="")
        {
            <div class="fila">
                <div class="columna">
                    <div class="resultat">
                        <span>@ViewBag.Result</span>
                    </div>
                </div>
            </div>
        }
    </fieldset>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section Opcions
{
    <ul class="menuopt">
        <span>Opcions</span>
        <li><a href="/login/Account/Profile">Modificar dades personals</a></li>
        <li><a href="/login/Account/ChangePassword">Canviar contrasenya</a></li>
    </ul>
}
