@model login.Models.LoginModel

@{
    ViewBag.Title = "         Identificació d'usuaris";
}




<div style="width:100%;">
<div style="  min-width:35%; float:left; "><p></p></div>



<div style="float:left; margin-top:200px;">


@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {


    <fieldset style="width:300px;">
        <legend>Autenticació d'usuaris</legend>
        <ol>
            <li style=" margin-left:25px; width:250px;">
                @Html.Label("Usuari")
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li style=" margin-left:25px; width:250px;">
                @Html.Label("Contrasenya")
                @Html.PasswordFor(m => m.Password)
            </li>
        </ol>
        <input type="submit" value="Iniciar sessió" style=" margin-left:25px; margin-bottom:25px;" />
    </fieldset>
    
    @Html.ValidationSummary(true, "No ha estat possible la autenticació. ") 
}
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
